<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>
    let lang = [/= lang /];
    let path = [/= path /];
</script> 




<script>
    let langChange = (lang) => {
        let newLang = !lang;
        axios.post('/lang', { data: newLang })
            .then(response => {
                location.reload();
                axios.get(path);
            })
            .catch(err => console.log(err))};
</script>

<div id="top"> 

        <div id="title-header">

            <li id="header-link">
                <a href='/'><h2>April Desy</h2></a>

                <a href='/'>

                    A personal website
                    
                </a>
            </li>

        </div>

    <div id="lang-select"> 
        <button onclick="langChange(lang)">
            [/ if (lang) { /]
                EN
            [/ } else { /]
                FR 
            [/ } /]
            </button>
    </div>
</div>

<hr>
