<html lang="fr">
    
    [/- include("./partials/header.ejs") /]


    <body>
        <div id="center">

            <div id="organize">
                
                <div id="wall-of-text">
        
                    <p>
                        Erreur 404 : page non trouvée
                    </p>

                </div>
            </div>
            
        </div>
        [/- include("./partials/footer.ejs") /]
        
    </body>
</html>