<html lang="en">
[/- include('./partials/header.ejs') /]
<body>

        [/- include('./partials/top.ejs') /]

    <div id="center">

        <div id="organize">
            
            <div id="wall-of-text">
    
                <p>
                    I am a Computer Science Student getting a minor in Math at McGill University. 
                    My primary hobbies are music, spending time with my dog, Moka, and skateboarding 
                    and programming of course 🥺!! I'm finised my second year of university, (really my third from cegep) and
                    have previously worked in the hellscape of retail and now I would much prefer
                    working an intership in my field of interest and study. 
                    
                </p>

            </div>
          
        
    
        </div>

    </div>

    [/- include('./partials/footer.ejs') /]
        
 </body>
</html>