<html lang="en">
[/- include('./partials/header.ejs') /]
<body>

        [/- include('./partials/top.ejs') /]

    <div id="center">

        <div id="organize">
            
            <div id="wall-of-text">
    
                <p>
                    A java app that runs chess. It has a visual user interface constructed from JPanel
                    and it listen for mouse events over the area of the JPanel. It has a simple ai opponent.
                    At the moment, the ai opponent is not very good, I do not know enough about chess to build a 
                    smart ai, this project was mainly an excerise in listening for mouse events 
                    and setting up good object-oriented design patterns. 
                </p>

            </div>
           
            <div id="project-link">

                <li><a href="https://github.com/aprilc-d/Chess">To Source Code</a></li>

            </div>

            <div id="pictures">

            </div>
    
        
    
        </div>

    </div>

    [/- include('./partials/footer.ejs') /]
        
 </body>
</html>