<html lang="fr"> 

    [/- include('./partials/header.ejs') /]

    <body> 

    [/- include('./partials/top.ejs') /]
        
    <div id="center">

       <div id="organize">

            <div id="wall-of-text">

                <p>
                    J'ai creé ce site web pour afficher mes projets personnels dans 
                    une façon plus intéressante. À mon opinion, d'afficher le code source sur Github est un peu plat. 
                    Puis, ce site web a été construit à partier de rien avec JavaScript, Node.js, CSS et HMTL et m'a donné 
                    plus de connaisance techinque dans mon domaine d'étude. 
                    Ici, vous pouvez trouver des liens importants tel que mon GitHib et LinkdeIn. 
                    Merci pour avoir visiter mon site web!!!!
                </p>

            </div>

            <div id="list-nav-div"> 

                <nav id="home-nav"> 
                
               <ul> 
                    <li> <a href='/about-me'>À propos</a></li>
                    <li> <a href='/projects'>Projets</a></li>
                    <li> <a href="https://github.com/aprilc-d">GitHub</a></li>
                    <li> <a href="https://ca.linkedin.com/in/april-desy">LinkedIn</a> </li>
               </ul>

                </nav>

            </div>
            
       </div>
    
    </div>

        [/- include('./partials/footer.ejs') /]

    </body>


</html>