<html lang="en"> 

    [/- include('./partials/header.ejs') /]

    <body> 

        [/- include('./partials/top.ejs') /]

        <div id="center">

            <div id="organize">
                
                <div id="wall-of-text">

                <p>
                Hello! Welcome to my personal website! 
                I made this website for two main reasions. 
                The first was to showcase my projects in a way other than github, which isnt very friendly
                to people who aren't developpers.
                The second was to improve my js, html and css skills. I was familiar with all
                of these before, however, building an entire website from scratch is a lot of work 
                and a great learning opportunity. 
                Below I've listed some important links like my github and my contact information!
                Thank you for visiting my website!!
                </p>

            </div>
       


            <div id="list-nav-div"> 

                <nav id="home-nav"> 
                
                <ul> 
                    <li> <a href='/about-me'>About Me</a></li>
                    <li> <a href='/projects'>Projects</a> </li>
                    <li> <a href="https://github.com/aprilc-d">My GitHub</a></li>
                    <li> <a href="linkedin.com/in/april-desy">My LinkedIn</a> </li>
               </ul>

                </nav>

            </div>

            </div>

        </div>
    
    

    </body>
    
    [/- include('./partials/footer.ejs') /]
    


</html>