<html lang="fr">
[/- include('./partials/header.ejs') /]
<body>

        [/- include('./partials/top.ejs') /]

    <div id="center">

        <div id="organize">
            
            <div id="wall-of-text">s
    
                <p>
                    Cela est un programme en Haskell qui done un solution approximatif 
                    d'un série. Par example, il peut approximer pi ou e. Avec l'entrée d'un string en format de LaTeX, 
                    le programme caclu une approximation. L'éxecution est dépendante sur la nature paresseuses de 
                    l'évalutation en Haskell.
                </p>

            </div>
           
            <div id="project-link">

                <li><a href="https://github.com/aprilc-d/SeriesApproximator">To Source Code</a></li>

            </div>

            <div id="pictures">

            </div>
    
        
    
        </div>

    </div>

    [/- include('./partials/footer.ejs') /]
        
 </body>
</html>