<html lang="en">
[/- include('./partials/header.ejs') /]
<body>

        [/- include('./partials/top.ejs') /]

    <div id="center">

        <div id="organize">
            
            <div id="wall-of-text">
    
                <p>
                    The following is a Haskell script which approximates infite series.
                    It's capable of approximation values like e and pi using the definition of certain series like 
                    the Taylor series for the exponential function. It takes an input string
                    in the format of a LaTeX equation and converts it into
                    an custom expression data type and then evaluates the series to 100, otherwise, the 
                    floating point system otherwise returns erros. 
                    This scritn takes advantage of Haskell's unique type system and lazy evaluation. 
                </p>

            </div>
           
            <div id="project-link">

                <li><a href="https://github.com/aprilc-d/SeriesApproximator">To Source Code</a></li>

            </div>

            <div id="pictures">

            </div>
    
        
    
        </div>

    </div>

    [/- include('./partials/footer.ejs') /]
        
 </body>
</html>