<html lang="en">
[/- include('./partials/header.ejs') /]
<body>

        [/- include('./partials/top.ejs') /]

    <div id="center">

        <div id="organize">
            
            <div id="wall-of-text">
    
                <p>
                    A game of uno playable in the command line. This program was written
                    in Java to practice good object-oriented programming practices. 
                </p>

            </div>
           
            <div id="project-link">

                <li><a href="https://github.com/aprilc-d/Chess">To Source Code</a></li>

            </div>

            <div id="pictures">

            </div>
    
        
    
        </div>

    </div>

    [/- include('./partials/footer.ejs') /]
        
 </body>
</html>