<html lang="en">
[/- include('./partials/header.ejs') /]
<body>

        [/- include('./partials/top.ejs') /]

    <div id="center">

        <div id="organize">
            
            <div id="wall-of-text">
    
                <p>
                    Mon site web a été construit avec Node.js, JavaScript et une base de données MongoDB 
                    pour le back-end et JavaScript, HTML and CSS pour le front-end. 
                    La construction de ce site web était une expérience gangant. Maintenant, j'ai beaucoup 
                    plus de connaisance du domaine de développment web. 
                </p>

            </div>
           
            <div id="project-link">

                <li><a href="https://github.com/aprilc-d/SeriesApproximator">Code Source</a></li>

            </div>

            <div id="pictures">

            </div>
    
        
    
        </div>

    </div>

    [/- include('./partials/footer.ejs') /]
        
 </body>
</html>