<html lang="en">
[/- include('./partials/header.ejs') /]
<body>

        [/- include('./partials/top.ejs') /]

    <div id="center">

        <div id="organize">
            
            <div id="wall-of-text">
    
                <p>
                    This website was made using node.js JavaScript 
                    and a MongoDB database in the backend and EJS, JavaScript, HTML and CSS in the front end. 
                    Although I already knew how to code in JavaScript, this was an incredible learning expereince. In particular, it gave me a 
                    full-stack view on web developpment. Now, my understanding of web developpment is now much stronger than before, even though I have previous played around with web APIs, 
                    HTML and CSS. Below you can find a link to the source code and some screenshots of code. 
                </p>

            </div>
           
            <div id="project-link">

                <li><a href="https://github.com/aprilc-d/SeriesApproximator">To Source Code</a></li>

            </div>

            <div id="pictures">

            </div>
    
        
    
        </div>

    </div>

    [/- include('./partials/footer.ejs') /]
        
 </body>
</html>